<form id="name_joke">
  <input type="text" name="first_name" id="first_name" value="first name..."/>
  <input type="text" name="last_name" id="last_name" value="last name..."/>
  <button>Send</button>
</form>